<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>CRM</h1>
        <p>Welcome in CRM Application</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-project">
                <form id="addproject-form" method="post" th:action="@{'/project/add'}" th:object="${project}" role="form" style="display:block">
                    <div class="form-group">
                        <input th:field="*{name}" name="name" id="name" tabindex="1" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input th:field="*{description}" name="description" id="description" tabindex="1" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input th:field="*{website}" name="website" id="website" tabindex="1" class="form-control" placeholder="Website">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="project-submit" id="project-submit" tabindex="4" class="form-control" value="Save project">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>