<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>CRM</h1>
        <p>Welcome in CRM Application</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <form id="register-form" method="post" th:action="@{'/registration'}" th:object="${user}" role="form" style="display:block">
                    <div class="form-group">
                        <input th:field="*{login}" name="login" id="login" tabindex="1" class="form-control" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <input th:field="*{username}" name="username" id="username" tabindex="1" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input th:field="*{surname}" name="surname" id="surname" tabindex="1" class="form-control" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <input th:field="*{email}" name="email" id="email" tabindex="1" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input th:field="*{password}" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>